.header {
    font-size: 10px;
    background: var(--primary-color);
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: justify;

    .list {
        font-size: 15px;
        color: var(--link-color);
        text-decoration: underline;
        display: grid;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 5px;
        text-align: center;
    }

}

.home {
    font-size: 25px;
    color: rgb(246, 203, 246);
   
}



