.header {
    font-size: 10px;
    background: rgb(69, 1, 69);
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: justify;

    .list {
        font-size: 15px;
        color: rgb(236, 78, 230);
        text-decoration: underline;
        display: grid;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 5px;
        text-align: center;
    }

}

.home {
    font-size: 25px;
    color: rgb(182, 34, 182);
   
}



