.header {
    background: var(--primary-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto; 

    .text {
        color: var(--text-color);
        font-size: 20px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }
 
}

.img {
    height: 55%;
    width: 55%;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    justify-self: center;
    border-radius: 60%;
}

.home {
    font-size: 35px;
    color: var(--text-color);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
}
