.header {
    font-size: 10px;
    background: rgb(69, 1, 69);
    align-items: center;
    display: flex;
    flex-direction: column; /* Added this line to make the items stack vertically */

    text {
        font-size: 10px;
        color: white;
        padding: 10px;
        text-align: center;
    }

    img {
        height: 50%;
        width: 50%;
        margin: 10px auto;
        padding: 10px;
        display: grid;
        justify-self: center; 
        border-radius: 60%;
    }
}
