.footer {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    padding: 15px;
    color: rgb(236, 78, 230);
}
