.header {
    font-size: 10px;
    background: var(--primary-color);
    padding: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: justify;

    .text {
        font-size: 20px;
        color: var(--text-color);
    }

    .title {
        font-size: 20px;
        padding-right: 20px;
        padding-left: 30px;
        color: var(--text-color);
        text-decoration: none;
    }
    
    .img {
        height: 85%;
        width: 85%;
        display: grid;
        justify-self: center;
        border-radius: 20%;
    }

}

.home {
    font-size: 35px;
    color: var(--text-color);
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
}


